In [1]:
import pandas as pd

In [9]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### 将数据集存入一个名为chipo的数据框内

In [21]:
chipo = pd.read_csv(url,sep='\t')#制表符

In [23]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### 返回chipo的行数和列数

In [29]:
chipo.shape

(4622, 5)

### 打印全部列名称

In [31]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [44]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### 数据集的索引

In [34]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### order数最多的 item

In [65]:
c = chipo.groupby('item_name').sum('quantity')

In [66]:
c

                                       order_id  quantity
item_name
6 Pack Soft Drink                         52322        55
Barbacoa Bowl                             53972        66
Barbacoa Burrito                          74718        91
Barbacoa Crispy Tacos                      5613        12
Barbacoa Salad Bowl                        9708        10
Barbacoa Soft Tacos                       18725        25
Bottled Water                            175944       211
Bowl                                        472         4
Burrito                                    1550         6
Canned Soda                               76396       126
Canned Soft Drink                        304753       351
Carnitas Bowl                             62742        71
Carnitas Burrito                          51652        60
Carnitas Crispy Tacos                      5868         8
Carnitas Salad                             1500         1
Carnitas Salad Bowl                        6693         6
Carnitas Soft Tacos                       37673        40
Chicken Bowl                             713926       761
Chicken Burrito                          497303       591
Chicken Crispy Tacos                      47382        50
Chicken Salad                             10465         9
Chicken Salad Bowl                       117104       123
Chicken Soft Tacos                        98395       120
Chips                                    208004       230
Chips and Fresh Tomato Salsa             100419       130
Chips and Guacamole                      449959       506
Chips and Mild Fresh Tomato Salsa           279         1
Chips and Roasted Chili Corn Salsa        14999        23
Chips and Roasted Chili-Corn Salsa        17462        18
Chips and Tomatillo Green Chili Salsa     41170        45
Chips and Tomatillo Red Chili Salsa       45556        50
Chips and Tomatillo-Green Chili Salsa     21826        33
Chips and Tomatillo-Red Chili Salsa       18344        25
Crispy Tacos                                434         2
Izze                                      10587        20
Nantucket Nectar                          21814        29
Salad                                      1150         2
Side of Chips                             84769       110
Steak Bowl                               193752       221
Steak Burrito                            328437       386
Steak Crispy Tacos                        35818        36
Steak Salad                                2362         4
Steak Salad Bowl                          29590        31
Steak Soft Tacos                          50177        56
Veggie Bowl                               72270        87
Veggie Burrito                            80962        97
Veggie Crispy Tacos                         668         1
Veggie Salad                               7265         6
Veggie Salad Bowl                         17303        18
Veggie Soft Tacos                          5520         8

In [69]:
c.sort_values(['quantity'],ascending = False).head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### 在choice_description中，下单次数最多的商品是什么

In [84]:
a=chipo.groupby('choice_description').sum('quantity')

In [86]:
a.sort_values(['quantity'],ascending=False).head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [88]:
chipo['choice_description'].value_counts().head(5)#

[Diet Coke]                                                                          134
[Coke]                                                                               123
[Sprite]                                                                              77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]     40
Name: choice_description, dtype: int64

### 一共有多少商品被下单？

In [94]:
m=chipo['quantity'].sum()

In [95]:
m

4972

###  将item_price转换为浮点数

In [103]:
chipo['quantity'].dtype

dtype('int64')

In [114]:
dollarizer = lambda x:float(x[1:-1])

In [116]:
chipo['item_price'] = chipo['item_price'].apply(dollarizer)

TypeError: 'float' object is not subscriptable

In [106]:
chipo['quantity'].dtype

dtype('int64')

### 总收入

In [136]:
chipo['sub_total'] = chipo['sub_total']=round(chipo['quantity']*chipo['item_price'],2)

In [137]:
chipo['sub_total'].sum()

39237.02

In [135]:
chipo['sub_total']

0        2.39
1        3.39
2        3.39
3        2.39
4       33.96
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: sub_total, Length: 4622, dtype: float64

In [122]:
chipo['order_id'].nunique()

1834

### 每一单(order)对应的平均总价是多少？

In [132]:
chipo.groupby(by=['order_id']).agg({'sub_total':'sum'})['sub_total'].mean()

21.394231188658654

In [138]:
chipo['item_name'].nunique()

50