## 列表

### 创建列表

In [13]:
a=['mark','jogn','fat','miki']
print(a)

['mark', 'jogn', 'fat', 'miki']

### 修改、添加、删除列表元素

#### 修改列表中元素

insert()

#### 删除列表中元素

del() 

    删除后不再使用

In [4]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
#指定位置删除元素
del motorcycles[0]
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['yamaha', 'suzuki']

pop()

     在删除后还继续使用

     不指定索引时，弹出列表中最后一列的元素；

     可在()中指定索引，指定后将索引位置的元素弹出。

In [1]:
motorcycles = ['honda', 'yamaha', 'suzuki']
#弹出第一个字符串，并引用被弹出的字符串
first_owned = motorcycles.pop(0)
print(f"The first motorcycle I owned was a {first_owned.title()}.")

The first motorcycle I owned was a Honda.

remove()

     根据值删除一个指定的元素
     
     删除后仍可调用

In [5]:
motorcycles.remove('yamaha')
print(motorcycles)

['suzuki']

### 列表排序

sort()
   
     永久性排序
     
     按字母顺序排序
     
     传递参数 reverse = ture 字母顺序反向排序

In [6]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort()
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [8]:
#反向排序
cars.sort(reverse=True)
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

sorted()
  
       临时排序
       
       特定顺序显示列表元素，同时不影响它们在列表中的原始排列顺序

In [9]:
cars = ['bmw', 'audi', 'toyota', 'subaru']

print("Here is the original list:")
print(cars)

print("\nHere is the sorted list:")
print(sorted(cars))

print("\nHere is the original list again:")
print(cars)

Here is the original list:
['bmw', 'audi', 'toyota', 'subaru']

Here is the sorted list:
['audi', 'bmw', 'subaru', 'toyota']

Here is the original list again:
['bmw', 'audi', 'toyota', 'subaru']

reverse()

      永久性排序
  
      倒着打印表，从最后一个元素往前打印

In [11]:
cars.reverse()
print(cars)

['subaru', 'toyota', 'audi', 'bmw']

len()
  
     获取列表长度

In [12]:
len(cars)

4

## 操作列表

遍历列表

for循环
   
     注意冒号
     
     每个缩进的代码都是循环的一部分

In [21]:
#从magicians中以此取值赋给magician，然后打印magiian，重复操作直到列表中元素被取完
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(magician)

alice
david
carolina

错误缩进的情况

for循环的结果magician最终值为carolina。则只显示for循环的最终值

In [22]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
      print(f"{magician.title()}, that was a great trick!")
print(f"I can't wait to see your next trick, {magician.title()}.\n")

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

### 生成数值列表

range()

     函数range()让Python从指定的第一个值开始数，并在到达你指定的第二个值时停止(不包括)
     
     不给定范围的话就默认从0开始生成

In [24]:
#指定2个参数
for value in range(1,6):
  print(value)

1
2
3
4
5

In [25]:
#指定一个参数
for value in range(8):
  print(value)

0
1
2
3
4
5
6
7

In [29]:
#指定三个参数 range(起始数，结尾数，间隔)
for value in range(3,14,2):
    print(value)

3
5
7
9
11
13

list()

      将数值转换为列表

In [26]:
a=list(range(5))
print(a)

[0, 1, 2, 3, 4]

### 对列表进行聚合计算

In [33]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
min(digits)

0

In [32]:
max(digits)

9

In [34]:
sum(digits)

45

### 列表解析

用一行代码完成数值列表的生成

In [36]:
#for循环为value提供值
squares = [value**2 for value in range(2, 11)]
print(squares)

[4, 9, 16, 25, 36, 49, 64, 81, 100]

### 切片

[a：b]

[a：] 自动截止到结尾

[：b] 自动从表头开始提取

可在表示切片的方括号内指定第三个值。这个值告诉Python在指定范围内每隔多少元素提取一个

Python在到达第二个索引之前的元素后停止

In [38]:
 players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[0:3])
#输出0，1，2位的元素
 #Python在到达第二个索引之前的元素后停止

['charles', 'martina', 'michael']

In [39]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[:4])

['charles', 'martina', 'michael', 'florence']

In [40]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[2:])

['michael', 'florence', 'eli']

### 复制列表

使用切片进行表复制

In [50]:
my_foods=['pizza','falafel','carrot cake']
my_foods_copy = my_foods[:]

print(my_foods)

print(my_foods_copy)

['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake']

不使用切片进行表复制

因为表相互关联，所以改动其中一个表另一个表也会跟着改动

In [51]:
my_foods.append('肉夹馍')

print(my_foods)

my_food_copy=my_foods

print(my_food_copy)

['pizza', 'falafel', 'carrot cake', '肉夹馍']
['pizza', 'falafel', 'carrot cake', '肉夹馍']

### 元组

不能修改的值称为不可变的，而不可变的列表被称为元组

与列表区别在于，是用圆括号区分的

如果你要定义只包含一个元素的元组，必须在这个元素后面加上逗号：my_t = (3,)

In [54]:
dimensions = (210,20,'dog','cat')
print(dimensions[0])
print(dimensions[-1])

210
cat

In [55]:
#元组禁止修改值
dimensions[0]= 600

TypeError: 'tuple' object does not support item assignment

#### 如何修改元组的数值
  
      重新定义元组

In [62]:
ds = (200, 50)
print("修改前的元组:")
for d in ds:
      print(d)
        
ds = (400, 100)
print("\n修改后的元组:")
for d in ds:
      print(d)

修改前的元组:
200
50

修改后的元组:
400
100